.Top_container {
  background-color: #E8F9FD;
  width: 100%;
}
.Middle_container{
  background-color: #82DBD8;
  height: 200px;


}
.Bottom_container{
  background-color: #3BACB6;
  height:200px;
}
body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.name{
  font-family: 'Sacramento', cursive;
  width: 20%;
  margin: 0 auto;
  padding-top: 150px;

}
.sub_title{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;

}

.bottom-cloud{
  position: absolute;
  left:200px;
  top:250px;
}

.top-cloud{
  position: absolute;
  right: 200px;
  top: 50px;
}

.Web{
  text-decoration: underline;
}
